<!DOCTYPE html>
<html lang="pt-BR">
  <%-include("../partials/head")%>
  <body id="todo-app">
    <%-include("../partials/aside")%>
    <!-- MAIN CONTENT -->
    <main id="main-content">
      <section id="todo-content-container">
        <!-- TODO BOX -->
        <% todoItem.forEach(todo =>{ %>
        <div class="todo-box <%=todo.status%>">
          <div class="todo-title-box">
            <h1><%=todo.title%></h1>
          </div>
          <div class="todo-content-box">
            <p><%=todo.content%></p>
          </div>

          <div class="todo-status-box">
            <span class="todo-status <%=todo.status%>-status">
              <%=formatPtBR(todo.status)%></span
            >
          </div>

          <div class="todo-changes-container">
            <form
              class="todo-new-status-form"
              action="/alterar-status/<%=todo.id%>?_method=PUT"
              method="POST"
            >
              <select
                name="status"
                id="new-status"
                class="todo-new-status-select"
                required
              >
                <option disabled selected>Selecione o Status</option>
                <option value="open">Aberto</option>
                <option value="progress">Em Andamento</option>
                <option value="closed">Finalizado</option>
              </select>

              <button class="change-todo-status-button" type="submit">
                Alterar
              </button>
            </form>
            <div class="edit-delete-todo-container">
              <div class="edit-todo-box">
                <form method="GET" action="/editar/<%=todo.id%>">
                  <button class="edit-todo-btn"></button>
                </form>
              </div>
              <div class="delete-todo-box">
                <form
                  action="/excluir/<%=todo.id%>?_method=DELETE"
                  method="post"
                >
                  <button class="delete-todo-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <%})%>
      </section>
    </main>
    <%-include("../partials/footer")%>
  </body>
</html>
